@media (max-width: 767px) {
  .card {
    flex-direction: column !important;
    height: auto !important;
    width: 90vw !important;
  }
  .card > div:first-child {
    display: none !important;
  }
  .card > div:last-child {
    flex: none !important;
    width: 100% !important;
    padding: 2rem !important;
  }
}
